<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin | Menu Panel</title>
</head>
<body>
    <a href="/admin">Back to Admin Panel Main</a>
    <h1>Admin Panel</h1>
    <h2>Manage Menu</h2>
    <ul>
        <li><a href="/admin/menu/snocreams">Snocreams</a></li>
    </ul>
</body>
</html>